[Unit]

# specifies metadata and dependencies
Description=Gunicorn instance to serve the blog

# tells the init system to only start this after the networking target has been reached
After=network.target


[Service]

# We will give our regular user account ownership of the process since it owns all of the relevant files
# Service specify the user and group under which our process will run.
User=alex

# give group ownership to the www-data group so that Nginx can communicate easily with the Gunicorn processes.
Group=www-data

# We'll then map out the working directory and set the PATH environmental variable so that the init system knows where our the executables for the process are located (within our virtual environment).

WorkingDirectory=/var/www/instance-blog
Environment="PATH=/var/www/instance-blog/env/bin"

# We'll then specify the commanded to start the service
ExecStart=/var/www/instance-blog/env/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app


[Install]

# This will tell systemd what to link this service to if we enable it to start at boot. We want this service to start when the regular multi-user system is up and running:

WantedBy=multi-user.target
