<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- set zoom correctly, especiall mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Reset
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"-->
    <!-- Milligram CSS >
    <link rel="stylesheet" href="{{ url_for('static', filename='milligram.css') }}"-->
    <!-- Main CSS >
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"-->
    <!-- Nav CSS >
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}"-->
    <style>
      {{ css | safe }}
    </style>

  </head>
  <body onresize="set_nav()">
    <header>
        <h2 class="site-title"><a href="/">instance-1.net</a></h2>
        <span onclick="hamburger()" class="hamburger">
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="80" height="10"></rect>
            <rect y="30" width="80" height="10"></rect>
            <rect y="60" width="80" height="10"></rect>
          </svg>
        </span>
        <div id="main_nav">
          <nav id="pages_nav" aria-label="about">
            <ul>
              {% for page in nav_pages %}
                <li><a href="/{{  page  }}">{{  page  }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <nav id="projects_nav" aria-label="projects">
            <h4><a href="/projects/"><strong>projects</strong></a></h4>
            <ul>
              {% for project in nav_projects %}
                <li><a href="/projects/{{  project  }}">{{  project  }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <script type="text/javascript">
    function hamburger() {
      var x = document.getElementById("main_nav");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function set_nav() {
      // mobile: #nav {display: none;}
      // desktop: #nav {display: block;}
      var w = window.outerWidth;
      var x = document.getElementById("main_nav");
      if (w > 800) {
        x.style.display = "block";
      } else {
        // this also tends to conveniently hide the nav
        x.style.display = "none";
      }
    }
    </script>
  </body>
</html>
