<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- comment -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Watch me build a Data Science Pipeline for Analysis, Fun and Education.">
    <title>instance-1.net | {% block title %}{% endblock %}</title>
    <style>
      {{ get_css()|safe }}
    </style>
  </head>
  <body onresize="set_nav()">
    <header>
        <h2 class="site-title"><a href="/">instance-1.net</a></h2>
        <span onclick="hamburger()" class="hamburger">
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="80" height="10"></rect>
            <rect y="30" width="80" height="10"></rect>
            <rect y="60" width="80" height="10"></rect>
          </svg>
        </span>
        <div id="main_nav">
          <nav id="pages_nav" aria-label="about">
            <ul>
              {% for page in get_nav('pages') %}
                <li><a href="/{{  page  }}">{{  page  }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <nav id="projects_nav" aria-label="projects">
            <h4><a href="/projects/"><strong>projects</strong></a></h4>
            <ul>
              {% for project in get_nav('projects') %}
                <li><a href="/projects/{{  project  }}">{{  project  }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <ul>
        <li>©2021</li>
        <li><a href="mailto: alex.ladda@gmail.com">alex.ladda@gmail.com</a></a></li>
        <li><a href="https://github.com/alexladda">github.com/alexladda</a></li>
    </ul>
    </footer>
    <script type="text/javascript">
      {{ get_js()|safe }}
    </script>
  </body>
</html>
