{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
{% filter markdown %}
# Welcome, enjoy and don't break anything.

*Glad you found this. If you don't know what you're looking for, how about this for a start:*

**[Architecture](/architecture)** - A high-level overview of what this whole project is about.

**[Stack](/stack)** - A detailed insight to the technologies and techniques used here.

**[Projects](/projects)** - Learn about my data projects.

{% endfilter %}
{% endblock %}
